.input-heart {
  font-family: 'Nunito', sans-serif;
  color: #767676;
  background: #ffffff;
  font-size: 16px;
  font-weight: 400;
  width: 90%;
  padding: 11px 12px;
  border: none;
}


#input_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 12px 11px 0;
  border: 2px solid #aaaaaa;
  border-radius: 4px;
}

#btn_heart {
  background-color: #fff;
  color: #111;
  border: none;
}

#btn_heart svg {
  height: 20px;
}
#btn_heart svg:hover {
  fill: #074EE8;
  color: #074EE8;
}

textarea:focus, input:focus:not(.input-heart), select:focus {
    box-shadow: 0 0 0 0;
    border: 2px solid #aaaaaa;
    outline: 0;
}

.input-heart:focus{
  box-shadow: 0 0 0 0;
  outline: 0;
}


/*

<label class="labels" for="fullname">Certificates</label>

    <div id="input_btn">
        <input type="text" id="fullname" class="inputs" placeholder="https://www.linkedin.com/in/foo-bar-3a0560104/" />
        <button id="btn_heart"><i data-feather="heart"></i></button>
    </div>

*/

/* 

OBS.: 

1.INCLUIR NO BODY DO HTML PARA FUNCIONAR A FIGURA DO CORAÇÃO:

    <script src="https://unpkg.com/feather-icons"></script>

2. ADICIONAR NO ARQUIVO SCRIPT.JS A LINHA SEGUINTE:

    feather.replace()
    
*/