.modal {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
}

.modal-content {
    margin: 1% 5%;
    width: 650px;
    font-family: 'Nunito', sans-serif;
    color: #767676;
    background: #ffffff;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    border: 2px solid #aaaaaa;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 11px 12px;
    margin-top: 4px;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transition: 1s;
}

.modal-content-hide {
    display: hide;
}

@media (max-width: 770px) {
   .modal-content {
    width: 600px;
    border: none;
  }
}

@media (max-width: 670px) {
   .modal-content {
    width: 500px;
  }
}

@media (max-width: 570px) {
   .modal-content {
    width: 400px;
  }
}

@media (max-width: 470px) {
   .modal-content {
    width: 300px;
  }
}

@media (max-width: 370px) {
   .modal-content {
    width: 250px;
  }
}