@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

.tabs-container {
    display: flex;
}

.tabs {
    display: flex;
    height: 44px;
    width: calc(100% / 3);
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px -2px 0px #AAAAAA;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
}

.tabs-container .active {
    box-shadow: inset 0px -3px 0px #074EE8;
    color:#074EE8;
}