@import "modules/title.css";
@import "modules/buttons.css";
@import "modules/tabs.css";
@import "modules/select_box.css";
@import 'modules/inputs.css';
@import "modules/iconsEffects.css";
@import "modules/structure.css";


/* ALL TABS */


.title, .input-block, .tabs-container {
    margin: 20px 0;
} 


#third-tab, #second-tab, #first-tab {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


.btn-to-right{
    display: flex;
    justify-content: end;
}

.hide {
    display: none !important;
}


/* First TAB */



/* Second TAB */

.btn-to-down {
    display: flex;
    align-items: flex-end;
    height: 350px;
}

/* Third TAB */

.btn-more{
    margin-top: -10px !important;
}